//Colors
$primary: #69a9fc;
$secondary: #0450b4;
$danger: #d32f2f;
$warning: #fdd835;
$default: $primary;
$success: #81c784;
$text: #000;
$text-primary: #808080;

// Font-size
$font-sm: 12;
$font-md: 14;
$font-lg: 18;

// Generals
$padding: 2em;
$margin: 2em;
