//Colors
$primary: #69a9fc;
$primary-light: #e6f1fe;
$secondary: #0450b4;
$danger: #d32f2f;
$warning: #fdd835;
$default: $primary;
$success: #81c784;
$light-gray: #d3d3d3;
$dark-gray: #4d4d4d;
$white: #fff;
$text: #000;
$text-primary: #b8b8b8;

// Font-size
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;

// Generals
$padding-xs: 0.5em;
$padding-sm: 1em;
$padding-md: 1.5em;
$padding-lg: 2em;
$margin-xs: 0.25em;
$margin-sm: 0.5em;
$margin-md: 1em;
$margin-lg: 1.5em;
$margin-xl: 2em;

//Responsive
$screen-mobile: 360px;
$screen-tablet: 640px;
$screen-laptop: 1024px;
$screen-desktop: 1280px;
