//Colors
$primary: #69a9fc;
$secondary: #0450b4;
$danger: #d32f2f;
$warning: #fdd835;
$default: $primary;
$success: #81c784;
$light-gray: #d3d3d3;
$dark-gray: #4d4d4d;
$white: #fff;
$text: #000;
$text-primary: #b8b8b8;

// Font-size
$font-sm: 12;
$font-md: 14;
$font-lg: 18;

// Generals
$padding: 2em;
$margin: 2em;
