.margin__xs {
    margin: $margin-xs;
}
.margin__sm {
    margin: $margin-sm;
}
.margin__md {
    margin: $margin-md;
}
.margin__lg {
    margin: $margin-lg;
}
.margin__xs__top {
    margin: $margin-xs;
}
.margin__xs__left {
    margin: $margin-xs;
}
.margin__xs__right {
    margin: $margin-xs;
}
.margin__xs__bottom {
    margin: $margin-xs;
}
.margin__sm__top {
    margin: $margin-sm;
}
.margin__sm__left {
    margin: $margin-sm;
}
.margin__sm__right {
    margin: $margin-sm;
}
.margin__sm__bottom {
    margin: $margin-sm;
}
.margin__md__top {
    margin: $margin-md;
}
.margin__md__left {
    margin: $margin-md;
}
.margin__md__right {
    margin: $margin-md;
}
.margin__md__bottom {
    margin: $margin-md;
}
.margin__lg__top {
    margin: $margin-lg;
}
.margin__lg__left {
    margin: $margin-lg;
}
.margin__lg__right {
    margin: $margin-lg;
}
.margin__lg__bottom {
    margin: $margin-lg;
}
