@import url("https://fonts.googleapis.com/css?family=Roboto:200,400,700");
body {
	font-size: 16px;
	margin: 0;
	font-family: Roboto, system-ui, sans-serif;
}

@import "./constants";
@import "./margin";
@import "./grid/variables";
@import "./grid/mixins";
@import "./grid/grid";
@import "./components/input";
@import "./components/header";
@import "./components/iconButton";
@import "./components/button";
@import "./components/container";
@import "./pages/home";
@import "./pages/complete";
